body{
	height: 100%;
    background-color: #808080 !important;
}

/*----- navigation section ------*/
.navbar{
	margin: 0px !important;
    background-color: #8e8e8e;
    position: fixed !important;
    width: 100%;
    opacity: 0.69;
}
.navbar-container{
    height: 80px;
    width: 100%;
    padding: 10px;
    display: -webkit-inline-box
}
.navbar-initals{
	padding: 10px;
    margin-left: 10px;
    height: 70px;
    width: 70px;
}
.navbar-initals > h1{
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 5px;
	height: 40px;
    width: 50px;
}
.initals{
	font-family: 'Raleway', sans-serif;
	text-transform: lowercase;
	letter-spacing: -8px;
}
.e{
	font-family: 'Raleway', sans-serif;
	color: white;
    text-transform: lowercase;
}
.fa-bars{
	text-align: center;
    padding: 0px;
    font-size: 2em !important;
    margin-bottom: 0px;
    margin-top: 22px;
    height: 40px;
    width: 50px;
    float: right;
}
.navbar-dropdown{
	width: 70px;
    height: 70px;
    padding-left: 10px;
}
.btn{
	float: right;
}
.btn-primary{
	padding-right: 0px;
	color: #4b4b4b !important;
	background-color: #8e8e8e !important;
	border: none !important;
}
.btn-primary:active{
	-webkit-box-shadow: none;
}
.dropdown-menu{
	display: block;
}

/* ----- intro section -----*/
.introduction{
	height: 620px;
	background-color: #8e8e8e;
}
.introduction .col-md-12{
	float: none;
}
.who-container{
	padding: 150px 100px 0 100px;
	top: 25px;
    position: relative;
}
.who-container >h1{
	font-family: 'Raleway', sans-serif;
	color: #777777 !important;
	text-align: center;
    font-size: 8em;
}
.description-container{
	position: relative;
    top: -50px;
}
.description{
	text-align: center;
    margin-left: 415px;
    margin-right: 415px;
    font-family: 'Raleway', sans-serif;
    color: #d7d7d7;
}

/* ------ about me ------ */
.about-me{
	height: 620px;
}
.info-me{
	font-family: 'Raleway', sans-serif;
    color: #777777 !important;
    text-align: center;
    font-size: 8em;
    margin-top: 150px;
    top: 25px;
    position: relative;
}
.my-info{
	position: relative;
	top: -30px;
	font-size: 1.2em;
    text-align: center;
    margin-left: 415px;
    margin-right: 415px;
    font-family: 'Raleway', sans-serif;
    color: #d7d7d7;
    text-transform: lowercase;
}
.fun{
	padding-top: 30px;
}
.projects{
	height: 620px;
}
.projects-title{
	font-family: 'Raleway', sans-serif;
    color: #777777 !important;
    text-align: center;
    font-size: 8em;
    margin-top: 150px;
    top: 25px;
    position: relative;
}