body{
	height: 100%;
    background-color: #808080 !important;
}

/*----- navigation section ------*/
.navbar{
	margin: 0px !important;
    background-color: #8e8e8e;
    position: fixed !important;
    width: 100%;
    opacity: 0.69;
    z-index: 99;
}
.navbar-container{
    height: 80px;
    width: 100%;
    padding: 10px;
    display: -webkit-inline-box
}
.navbar-initals{
	padding: 10px;
    margin-left: 10px;
    height: 70px;
    width: 70px;
}
.navbar-initals > h1{
	font-family: 'Raleway', sans-serif;
	margin-bottom: 0px;
	margin-top: 0px;
	padding-top: 5px;
	height: 40px;
    width: 50px;
}
.initals{
	font-family: 'Raleway', sans-serif;
	text-transform: lowercase;
	letter-spacing: -8px;
}
.initals:hover{
	letter-spacing: 0em;
	width: 600px;
}
.e{
	font-family: 'Raleway', sans-serif;
	color: white;
    text-transform: lowercase;
}
.name{
	display: none;
	font-family: 'Raleway', sans-serif;
}
.lname{
	font-family: 'Raleway', sans-serif;
	color: white;
}

/* ----- intro section -----*/
.introduction{
	height: 620px;
	background-color: #8e8e8e;
}
.introduction .col-md-12{
	float: none;
}
.who-container{
	padding: 150px 100px 0 100px;
	top: 25px;
    position: relative;
}
.who-container >h1{
	font-family: 'Raleway', sans-serif;
	color: #777777 !important;
	text-align: center;
    font-size: 8em;
}
.description-container{
	position: relative;
    top: -50px;
}
.description{
	text-align: center;
    margin-left: 415px;
    margin-right: 415px;
    font-family: 'Raleway', sans-serif;
    color: #d7d7d7;
}

/* ------ about me ------ */
.about-me{
	height: 620px;
}
.info-me{
	font-family: 'Raleway', sans-serif;
    color: #777777 !important;
    text-align: center;
    font-size: 8em;
    margin-top: 150px;
    top: 25px;
    position: relative;
}
.my-info{
	position: relative;
	top: -30px;
	font-size: 1.2em;
    text-align: center;
    margin-left: 415px;
    margin-right: 415px;
    font-family: 'Raleway', sans-serif;
    color: #d7d7d7;
    text-transform: lowercase;
}
.fun{
	padding-top: 30px;
}

/*----- projects section -----*/
.projects{
	height: 560px;
}
.projects-container{
	height: 385px;
}
.projects-title{
	font-family: 'Raleway', sans-serif;
    color: #777777 !important;
    text-align: center;
    font-size: 8em;
    top: 25px;
    position: relative;
}
.display-container{
	border: 1px solid #4b4b4b;
	border-radius: 3px;
    width: 552px;
    height: 270px;
    text-align: center;
    margin-left: 415px;
    margin-right: 415px;
    position: relative;
    top: 125px;
    right: 50px;
    opacity: .5;
}
.display-container:hover{
	background-color: #4b4b4b;
	opacity: .2;
}
.img{
	height: 260px;
}
img{
	width: 550px;
    height: 260px;
    position: relative;
    bottom: 153px;
    top: -148px;
}
.links{
	list-style: none;
    height: 45px;
    margin-bottom: 0px;
    position: relative;
    padding-left: 0px;
}
.links li{
	display: inline-block;
	font-size: 2.3em;
	letter-spacing: 2em;
}
.links li:hover{
	color: #d7d7d7;
}
.link-container{
	display: none;
	position: relative;
    bottom: 160px;
    margin: auto;
}
.chrome{
	padding-right: 50px
}
.fa-chrome{
	width: 32px;
}
.fa-github{
	width: 32px;
    padding-left: 1px;
    font-size: 1.1em;
}
.next{
    position: absolute;
    bottom: 0px;
    right: 10px;
    border: 0px;
    background-color: rgba(191, 191, 191, 0);
    font-size: 2em;
    padding: 0px 5px;
}

/*---- footer section -----*/
footer{
	background-color: #8e8e8e !important;
	height: 100px;
}
.contact{
	text-align: center;
	font-family: 'Raleway', sans-serif;
    color: #777777 !important;
	margin-left: 415px;
    margin-right: 415px;
}
.social-list{
	list-style: none;
	text-align: center;
	font-size: 1.8em;
	padding-left: 0px;
}
.social-list li{
	display: inline-block;
	width: 35px;
}
.social-list li i{
	color: #d7d7d7;
}
.social-list li i:hover{
	color: #4b4b4b;
}
.github{
	width: 35px;
	padding-left: 0px;
}
